{% extends 'base.html.twig' %}

{% block body %}
    <br>
    <br>


    <h1>{{ title }}</h1>
    <hr>
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="images/louvre.jpg" alt="First slide">
                </div>
            </div>
        </div>
    <br><br>

     <a href="{{ path("ticket_phase_1") }}" class="btn btn-info" role="button">Acceder à la billeterie en ligne</a>

    <br><hr>

    <div class="row">
        <div class="col-md-4 link1-2-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><i class="fa fa-fw fa-check"></i> {{ "Se rendre au musée"|trans}}</h4>
                </div>
                <div class="panel-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?</p>
                    <a href="#" class="btn btn-default">{{ "En savoir plus"|trans}}</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 id="activity"><i class="fa fa-fw fa-check"></i> {{ 'Les expositions en cours'|trans}}</h4>
                </div>
                <div class="panel-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?</p>
                    <a href="#" class="btn btn-default">{{ "En savoir plus"|trans}}</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 id="expo"><i class="fa fa-fw fa-check"></i> {{ "Les activités du musée"|trans}}</h4>
                </div>
                <div class="panel-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?</p>
                    <a href="#" class="btn btn-default">{{ "En savoir plus"|trans}}</a>
                </div>
            </div>
        </div>
    </div>


        <br><br>




{% endblock %}


