{% extends 'base.html.twig' %}


{% block body %}
    <br>
    <h1>RESUME DE VOTRE COMMANDE</h1>


        <table class="table table-striped">
            <thead>
            <tr>
                <th>Email</th>
                <th>Date de la commande</th>
                <th>Date de visite</th>
                <th>Nombre de tickets</th>
            </tr>
            </thead>
            <tbody>
                    <tr>
                        <td>{{ commandes.mail }}</td>
                        <td>{{ commandes.createdAt|date('d-m-Y') }}</td>
                        <td>{{ commandes.dateVisit|date('d-m-Y') }}</td>
                        <td>{{ commandes.nbTickets }}</td>

                    </tr>
            </tbody>
        </table>


        <div class="pull-right">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-check"></i> {{ "RESUME DES TICKETS"|trans}}</h4>
                    </div>
                    <br>
                    <hr>

                    <div class="jumbotron">
                        <p class="lead">
                            {%  for billet in commandes.billets %}
                                <ul><h4>NOM DU VISITEUR : {{ billet.name|e }}</h4></ul>
                                <ol><h4>PRENOM DU VISITEUR: {{ billet.surname|e }}</h4></ol>
                                <ol><h4>TARIF DU BILLET: {{ billet.tarif }} Euros</h4></ol>
                                <ol><h4>CODE DE VERIFICATION UNIQUE: {{ billet.codeBillet}}</h4></ol>
                        </p>
                    </div>


                            {% endfor %}
                    <hr class="my-4">

                        <a class="btn btn-primary btn-lg" href="#" role="button">Accéder au paiement</a>



                    </div>
                </div>
            </div>
     </div>

    <br/>
                    {#<a href="{{ path('prepare_stripe') }}">Valider le panier</a>#}
                {#{% else %}#}
                    {#<tr><td>Votre panier est vide</td></tr>#}
                {#{% endif %}#}
{%  endblock %}

{% block javascripts %}
{% endblock %}