{% extends 'base.html.twig' %}


{% block body %}
    <br>
    <h1>RESUME DE VOTRE COMMANDE</h1>
    <div class="container">
        <div class="row">
            <div class="col-lg-offset-3 col-lg-5 ">
                <div class="col-lg-offset-1 col-lg-6">
                {#{% if nbTickets > 0 %}#}
                    <table  class="table-responsive">
                        <th>VOTRE PANIER</th>

                            <tr>
                                <td>
                                    {{ id}}
                                </td>
                                <td>
                                    {{ commande.mail}}
                                </td>
                                <td>
                                    {{ commande.billets.name}}
                                </td>
                                {#<td> {{ billet.name }} </td>#}
                            </tr>

                    </table>
                    <br/>
                    {#<a href="{{ path('prepare_stripe') }}">Valider le panier</a>#}
                {#{% else %}#}
                    {#<tr><td>Votre panier est vide</td></tr>#}
                {#{% endif %}#}
            </div>
        </div>
    </div>
{%  endblock %}

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.js"> </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/locales/bootstrap-datepicker.fr.min.js"> </script>
    {#DatePicker calendar#}
    <script>
        $('.datepicker').datepicker({
            format: "dd/mm/yy",
            todayBtn: true,
            clearBtn: true,
            language: "fr",
            daysOfWeekDisabled: "0,2",
            autoclose: true,
            todayHighlight: true,
            toggleActive: true
        });
{% endblock %}