{% extends 'base.html.twig' %}


{% block body %}
    <br>
    <h1>RESUME DE VOTRE COMMANDE</h1>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Email</th>
                <th>Date de la commande</th>
                <th>Date de visite</th>
                <th>Nombre de tickets</th>
            </tr>
            </thead>
            <tbody>
                {% for commande in commandes %}
                    <tr>
                        <td>{{ commande.mail }}</td>
                        <td>{{ commande.createdAt|date('d-m-Y') }}</td>
                        <td>{{ commande.dateVisit|date('d-m-Y') }}</td>
                        <td>{{ commande.nbTickets }}</td>

                    </tr>
                {% endfor %}
            </tbody>
        </table>
    <br/>
                    {#<a href="{{ path('prepare_stripe') }}">Valider le panier</a>#}
                {#{% else %}#}
                    {#<tr><td>Votre panier est vide</td></tr>#}
                {#{% endif %}#}
{%  endblock %}

{% block javascripts %}
{% endblock %}